<h4 class="text-center p-3"><strong>Maestros Disponibles</strong></h4>
<div class="container mb-5">
  <div class="row my-2">
    <% @masters.each do |master| %>
      <div class="col-3 " data-aos="zoom-in">
        <div class="bg-white rounded-bottom shadow h-100">         
          <div class="p-3 d-flex flex-column">
            <div class="d-flex justify-content-around">
              <div>
                  <strong><%= master.user.full_name %><span class="text-muted font-weight-normal">•</span></strong>
                  <small><p><%= master.description%></p></small>
                  <strong><i class="fas fa-star star-yellow"></i></strong>
              </div>
             <%= cl_image_tag master.user.photo.key, height: 50, width: 50, crop: :fill, class: 'avatar-bordered' %>
            </div>
          </div>
          <%= cl_image_tag master.photos[0].key, crop: :fill, class: 'rounded img-fluid img-responsive'%>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h1>esto es un index de masters</h1>

    <% @masters.each do |master| %>
      
        <%= master.description %>
        <%= master.commercial_address %>


        <%= link_to 'Show', master_path(master) %>
        <%= link_to 'Edit', edit_master_path(master) %>
      
    <% end %>