<div class="container mb-5">
  <div class="row my-2">
    <% @category.master.each do |master| %>
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-100">         
          <div class="p-3 rounded-bottom d-flex flex-column">
            <div>
              <div>
                  <h2><%= master.user.first_name %></h2>
                  <p><%= master.description %></p>
              </div>
             <%= cl_image_tag master.user.photo.key, height: 40, width: 40, crop: :fill %>
            </div>
          </div>
          <%= cl_image_tag master.photo.key, class: 'rounded-top' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h1>esto es un index de masters</h1>

    <% @masters.each do |master| %>
      
        <%= master.description %>
        <%= master.commercial_address %>


        <%= link_to 'Show', master_path(master) %>
        <%= link_to 'Edit', edit_master_path(master) %>
      
    <% end %>