<section class="container my-5">

    <div class="row">
        <div class="col-md-4 col-sm-12">
            <figure class="abaout__img">
                <%= cl_image_tag @user.photo.key, height: 217, width: 217, crop: :fill, class: "rounded-circle"%>
                <h2 class="subtitle text-center"><%= @user.first_name.capitalize%> <%= @user.last_name.capitalize %></h2>
            </figure>
        </div>
        
        <div class="col-md-4 col-sm-12">
            <div class="abaout__texts">
                <h2 class="subtitle text-center">
                    Datos del Usuario
                </h2>
                <p class="abaout__paragraph text-center">
                    <div class="card">
                        <div class="card-body text-center">
                            <%= @user.email %>
                        </div>
                    </div>
                </p>
                <p class="abaout__paragraph text-center">
                    <div class="card">
                        <div class="card-body text-center">
                            <%= @user.phone %>
                        </div>
                    </div>
                </p>
                <p class="abaout__paragraph text-center">
                    <div class="card">
                        <div class="card-body text-center">
                            <%= @user.address %>
                        </div>
                    </div>
                </p>
                <%= link_to "Editar Usuario", edit_user_registration_path, class: "btn btn-warning rounded-pill col-12 my-1" %>
                <% if Master.find_by(user_id: @user.id) %>
                    <%= link_to "Perfil Público Master", master_path(@user.master), class: "btn btn-warning rounded-pill col-12 my-1" %>
                    <%= link_to "Editar Master", edit_master_path(@user.master), class: "btn btn-warning rounded-pill col-12 my-1" %>
                    <%= link_to 'Dejar de ser Master', master_path(@user.master), method: :delete, data: { confirm: '¿Estás seguro de tu decisión?' }, class: "btn btn-danger rounded-pill col-12 my-1" %>
                <% else %>
                    <%= link_to "Convierte en Master", new_master_path, class: "btn btn-warning rounded-pill col-12 my-1" %>
                <% end %>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
        <figure class="map__img">
            <div id="map"
              style="width: 100%; height: 300px;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
            </figure>
        </div>
    </div>
</section>

<section class="container my-5">

    <% if Master.find_by(user_id: @user.id) %>
        <div class="list-group">
            <h3 class="subtitle text-center">Historial de Ordenes.</h3>
                <% @user.master.orders.each_with_index do |order, index| %>
                        <% if index == 0 %>
                            <%= link_to master_order_path(@user.master, order), class: "list-group-item list-group-item-action flex-column align-items-start active" do %>
                                <div class="d-flex w-100 justify-content-between">
                                    <div>
                                        <%= cl_image_tag order.user.photo.key, height: 50, width: 50, crop: :fill, class: "inline rounded-circle"%>
                                    </div>
                                    <small><p>Solicitada por el Usuario: <strong> <%= order.user.full_name %></strong></p></small>
                                    <small><%= order.date %></small>
                                </div>
                                <p class="mb-1"><%= order.description %></p>
                                <small>Estado: <strong><%= order.status.capitalize %></small></strong>
                            <% end %>
                        <% else %>
                            <%= link_to master_order_path(@user.master, order), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
                                <div class="d-flex w-100 justify-content-between">
                                    <div>
                                        <%= cl_image_tag order.user.photo.key, height: 50, width: 50, crop: :fill, class: "inline rounded-circle"%>
                                    </div>
                                    <small><p>Solicitada por el Usuario: <strong> <%= order.user.full_name %></strong></p></small>
                                    <small><%= order.date %></small>
                                </div>
                                <p class="mb-1"><%= order.description %></p>
                                <small>Estado: <strong><%= order.status.capitalize %></small></strong>
                            <% end %>
                        <% end %>
                <% end %>
        </div>
    <% else %>
        <div class="list-group">
            <h3 class="subtitle text-center">Historial de Ordenes.</h3>
                <% @user.orders.each_with_index do |order, index| %>
                    <% if index == 0 %>
                        <%= link_to master_order_path(order.master, order), class: "list-group-item list-group-item-action flex-column align-items-start active" do %>
                            <div class="d-flex w-100 justify-content-between">
                                 <div>
                                    <%= cl_image_tag order.master.user.photo.key, height: 50, width: 50, crop: :fill, class: "inline rounded-circle"%>
                                 </div>
                                 <small><p>Solicitada al Maestro: <strong> <%= order.master.user.full_name %></strong></p></small>
                                <small><%= order.date %></small>
                            </div>
                            <p class="mb-1"><%= order.description %></p>
                            
                            <small>Estado: <strong><%= order.status.capitalize %></small></strong>
                        <% end %>
                    <% else %>
                        <%= link_to master_order_path(order.master, order), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
                            <div class="d-flex w-100 justify-content-between">
                                <div>
                                    <%= cl_image_tag order.master.user.photo.key, height: 50, width: 50, crop: :fill, class: "inline rounded-circle"%>
                                </div>
                                <small><p>Solicitada al Maestro: <strong> <%= order.master.user.full_name %></strong></p></small>
                                <small><%= order.date %></small>
                            </div>
                            <p class="mb-1"><%= order.description %></p>
                            <small>Estado: <strong><%= order.status.capitalize %></small></strong>
                        <% end %>
                    <% end %>
                <% end %>
        </div>
    <% end %>
    
</section>

<% if Master.find_by(user_id: @user.id) %> 
    <% @user.master.orders.each_with_index do |order, index| %>
        <% if order.propuesto?  %>
            <div class="alert alert-warning" role="alert">
                <strong>Info!</strong> Tienes un Orden Pendiente, Revisala!.
            </div> 
        <% end %>
    <% end %>
<% end %>
