<div class="container mb-5">
  <div class="wrapper text-master">
  <% if masters.nil? || masters.empty? %>
    <p>No se encontraron resultados.</p>
  <% else %>
     <% masters.each do |master| %>
        <%= link_to master_path(master) do %>
        <div class="bg-white d-flex-special rounded-bottom shadow h-100">
          <div class="p-3 d-flex flex-column">
            <div class="d-flex justify-content-between">
              <div>
                  <h6 class="mb-1"><strong><%= master.user.full_name %></strong></h6>
                  <% n = 0 %>
                  <% sum = 0 %>
                  <% master.reviews.where("rating > ?", 0).each do |review| %>
                    <% n += 1 %>
                    <% sum += review.rating %>
                  <% end %>
                  <% if n > 0 %>
                    <% (sum.to_f / n).round.times do %>
                        <%= icon('fas', 'star', class: 'text-warning') %>
                    <% end %>
                  <% else %>
                    <small class="text-secondary">Sin valoraciones a&uacute;n</small>
                  <% end %>
                  <small><p><%= master.description%></p></small>
                  <small><p>Precio por hora: <span class="text-warning"><strong><%= master.price_per_hour%></strong></span></p></small>
              </div>
              <div >
                <%= cl_image_tag master.user.photo.key, width: 50, height: 50, crop: :fill, class: 'avatar-bordered avatar-custom' %>
              </div>
            </div>
          </div>
          <%= cl_image_tag master.photos[0].key, crop: :fill, class: 'rounded img-fluid img-responsive'%>
        </div>
        <% end %>
    <% end %>
  <% end %>
  </div>
</div>
