<div class="navbar navbar-expand-sm navbar-light navbar-lewagon teal-color">
  <%= link_to root_path, class: "navbar-brand btn btn-warning" do %>
    <%= icon('fas', 'hard-hat', class: 'text-white mr-1') %><small class="text-white">MAESTROS-ONLINE</small>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= cl_image_tag current_user.photo.key, height: 40, width: 40, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Mi perfil", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Agregar opciones", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item mx-1">
          <%= link_to "Iniciar Sesión", new_user_session_path, class: "nav-link btn btn-warning text-white" %>
        </li>
        <li class="nav-item mx-1">
          <%= link_to "Registrarse", new_user_registration_path, class: "nav-link btn btn-warning text-white" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
