<div class="container mt-5 mb-5 pt-3">
<h2>Orden de trabajo</h2>
<!-- Informacion de la orden -->
<div class="row">
  <div class="col-sm-12 col-md-6">
    <h5>Cliente:</h5>
    <%= cl_image_tag @order.user.photo.key, height: 100, width: 100, crop: :fill, class: "rounded-circle"%>
    <h4 class="text-center"><%= @order.user.full_name %></h4>
  </div>
  <div class="col-sm-12 col-md-6">
    <h5>Maestro:</h5>
    <%= cl_image_tag @order.master.user.photo.key, height: 100, width: 100, crop: :fill, class: "rounded-circle"%>
    <h4 class="text-center"><%= @order.master.user.full_name %></h4>
    <h6 class="text-center"><%= @order.master.category.name %></h6>
  </div>
</div>
<hr>

<div class="row justify-content-center">
  <div class="col-sm-12">
  <h4>Detalles de la orden de trabajo</h4>
  <p>Descripcion del trabajo: <strong><%= @order.description %></strong></p>
  <p>Fecha del trabajo: <strong><%= @order.date %></strong></p>
  <p>Horario del maestro: <strong><%= @master.schedule %></strong></p>
  <p>Horas de trabajo: <strong><%= @order.hours %></strong></p>
  <p>Precio por hora del maestro: <strong><%= @master.price_per_hour %></strong></p>
  <p>Precio total del trabajo: <strong><%= @master.price_per_hour * @order.hours %></strong></p>
  <p>Estado de la orden: <strong><span class="text-warning"><%= @order.status.capitalize %><span></strong></p>

<!-- Botones de acciones sobre la orden -->

  <% if current_user == @order.user %>
    <%= link_to "Editar orden", edit_master_order_path(@master, @order), class: "btn btn-warning rounded-pill col-12 my-1" unless @order.hecho? %>
    <%= link_to "Cancelar orden", master_order_cancel_path(@master, @order), class: "btn btn-warning rounded-pill col-12 my-1" unless @order.hecho? %>
    <% if @order.aceptado? %>
      <%= link_to "Pagar orden", master_order_pay_path(@master, @order), class: "btn btn-warning rounded-pill col-12 my-1" %>
    <% elsif @order.pagado? %>
      <%= link_to "Orden terminada", master_order_done_path(@master, @order), class: "btn btn-warning rounded-pill col-12 my-1" %>
    <% end %>
  <% elsif current_user == @order.master.user %>
    <% if @order.propuesto? %>
    <%= link_to "Aceptar orden", master_order_accept_path(@master, @order), class: "btn btn-warning rounded-pill col-12 my-1" %>
    <%= link_to "Rechazar orden", master_order_reject_path(@master, @order), class: "btn btn-warning rounded-pill col-12 my-1" %>
    <% end %>
  <% end %>

  </div>
</div>

<hr>
<!-- Seccion del y new del Review -->

<div class="row">
<div class="col-sm-12 col-md-6">
<h4>Comentarios</h4>
<% @order.reviews.reverse.each do |review| %>
  <div class="d-flex justify-content-between">
    <div>
      <%= cl_image_tag review.user.photo.key, height: 40, width: 40, crop: :fill, class: "avatar"%>
      <%= review.user.full_name %>
      <%= (icon('fas', 'star', class: 'text-warning') + " ") * review.rating unless review.rating.nil? %>
    </div>
    <div>
      <small><em class="date"><%= review.created_at %></em></small>
    </div>
  </div>
  <p><strong> <%= review.description %> </strong></p>
  <hr>
<% end %>
</div>

<div class="col-sm-12 col-md-6">
  <div>
    <h4>Agrega un comentario</h4>
    <%= simple_form_for [@master, @order, @review] do |f| %>
      <%= f.input :description, label: 'Comentario' %>
      <% if @order.hecho? && current_user == @order.user %>
      <p><strong>Ahora que la orden está terminada, puedes valorarla:</strong></p>
      <%= f.input :rating, collection: 1..5, input_html: { id: 'bar-rating-stars' } %>
      <% end %>
      <%= f.submit "Comentar", class: 'btn btn-warning rounded-pill' %>
    <% end %>
  </div>
</div>

</div>


</div>
