<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path 'banner.jpg' %>')">
<h1>Maestros Online</h1>
<h4>Contrata servicios para tu casa</h4>
<div class="d-flex justify-content-center">
  <form class="form-inline" action="<%= masters_path %>">
    <div class="form-group mr-1">
      <input class="form-control rounded-pill" name="query" type="search" placeholder="Buscar" aria-label="Search">
    </div>
    <div class="form-group mx-1">
      <input class="form-control rounded-pill" id="master_address" name="ubication" type="search" placeholder="Ubicaci&oacute;n" aria-label="Search">
    </div>
    <div class="form-group ml-1">
      <button class="btn btn-warning rounded-pill" type="submit">Buscar</button>
    </div>
  </form>
</div>
</div>

<div class="container mt-5 mb-5">

  <div class="cards">
  <% @categories.each do |category| %>
    <%= link_to category_path(category) do %>
      <div class="card card-category"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path category.photo.key, height: 180, crop: :fill %>')">
        <%= category.name %> <br />
      </div>
    <% end %>
  <% end %>
  </div>

</div>
